<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title><%= title %></title>
</head>
<body>
	<div class="title">
		<h1>Weatherly☀️</h1>
	</div>
	<div class="x">
		<% if(data === '') { %>
		<div class="container center">
		<div class=" in">
			<h5 class="card-title">Search weather of your location</h5>
			<form action="/" method="post">
				<div>
					<input type="text" class="form" name="city" placeholder="Enter the Location" autocomplete="off" required><br>
				</div>
				<button type="submit">Go</button>
			</form>
		</div>
		</div>
		<% } else if (data === '0') { %>
		<div class="container center">
		<div class="card">
			<div class="card-body">
				<p class="oops">Oops! Lost in space🚀, try locations from Earth🌏 !</p>
			</div>
			<div class="text-center">
				<a href="/">New location</a>
			</div>
		</div>
		</div>
		<% } else { %>
		<div class="container center">
			<div class="card">
				<div class="card-body">
				<h5 class="card-title">Weather in <%= data.name %>, <%= data.sys.country %></h5>
				<p >Lat: <%= data.coord.lat %>, Lon: <%= data.coord.lon %></p>
				<img src="http://openweathermap.org/img/wn/<%= data.weather[0].icon %>@2x.png" alt="icon">
				<p><%= data.main.temp%><sup>o</sup>C</p>
				<span>Feels like <%= data.main.feels_like %><sup>o</sup>C</span>
				<h5><%= data.weather[0].description %></h5>
				<hr>
				<div>
					<span><i class="fas fa-wind"></i> Wind: <%= data.wind.speed %> m/sec</span><br>
					<span><i class="fas fa-paper-plane"></i> Pressure: <%= data.main.pressure %> mb</span><br>
					<span><i class="fas fa-tint"></i> Humidity: <%= data.main.humidity %>%</span><br>
					<span><i class="fas fa-eye"></i> Visibility: <%= data.visibility/1000 %> km</span><br>
					<span><i class="fas fa-cloud"></i> Cloudiness: <%= data.clouds.all %>%</span>
				</div>
				<div class="text-center">
					<a href="/">New location</a>
				</div>
				</div>
			</div>
		</div>
		<% } %>
	</div>
	<div class="header">
        <div>
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="parallax">
                    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
                </g>
            </svg>
        </div>
        
    </div>
	</body>
    <script src="https://kit.fontawesome.com/ad862d8e11.js" crossorigin="anonymous"></script>
  </body>
</html>